* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #240000;
}
#masthead {
    left: 0;
    right: 0;
    width: 100%;
    border:none;
    border-bottom: #d0ff00;
    background-color: #240000;
    height:90;
    display:block; 
}
#name {
    float: left;
    height:max-content;
}
    #name h1{
        float:right;
        font-size: xx-large;
        margin-left: 25px;
        padding: 10px;
        text-shadow: 3px 2px 3px #333333;
        color: white;
    }
#menu {
    float: right;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    z-index: 2;
    top: 0px;
    right: 0;
}
    #menu a {
        color: white;
    }
    #menu ul { 
        padding:1; 
        margin:1; 
        right:0;
    } 
	#menu li { 
        float:left; 
        position:relative; 
        display:block; 
		border:3px solid #240000; 
        border-style:inset; 
        background-color: #990000;
        width: 100px;
    } 
	#menu li ul { 
        display:none; 
        position:absolute;
        z-index: 3;
    } 
	#menu li:hover ul { 
        display:block; 
        height:auto; 
        width: auto;
    } 
	#menu li ul li{ 
        clear:both; 
        left:0; 
        text-align: left;
        width: 150px;
    }
#content {
    background-color: #990000;
    top:100px;
    clear:both;
}
.about {
    height: 500px;
}
